# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2

# 4 space indentation
[*.py]
# Isort definitions
profile=black
max_line_length = 119
line_length=119
length_sort=1
combine_as_imports = true
known_first_party=data_migrations
known_operators=plugins.operators
known_utils=plugins.utils
known_third_party=airflow
import_heading_future=General libraries
import_heading_localfolder=Project libraries
import_heading_firstparty=Your Local libraries
import_heading_utils=Your Cutom utils
import_heading_operators=Your Cutom Operators
import_heading_thirdparty=Third party libraries
default_section=THIRDPARTY
no_lines_before=FUTURE,STDLIB
sections=FUTURE,STDLIB,THIRDPARTY,UTILS,OPERATORS,FIRSTPARTY,LOCALFOLDER
verbose=False

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = false

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = false

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.sql]
max_line_length = 119
