# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
pymongo>=3.1
google-cloud-bigquery==3.16.0
pymysql==1.1.0
db-dtypes==1.2.0
